/* reset lại toàn bộ trang  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  margin: 0 4% 2% 4%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bg-grey {
  background: #f7f7f7;
}
ul {
  list-style-type: none;
}
section > .container {
  width: 1170px;
  margin: auto;
  display: block;

  /* padding: 30px 50px; */
}

/* bỏ gạch chân ở tất cả các thẻ a  */
a {
  text-decoration: none;
  color: #000;
}
#banner {
  width: 100%;
  background: url(../images/banner.jpg) top center no-repeat;
  min-height: 36.5rem;
  background-size: cover;
  /* margin: 0; */
}
/* căn giữa row số 2  */
#nav-bar {
  text-align: center;
  max-width: 100%;
  /* border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4); */
}
/* tạo grid cho toàn trang( có 7 row 1 column) */
/* .grid-box {
  width: 1170px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  grid-template-rows: 555px repeat(6, 1fr);
} */
/* css ảnh và vị trí tên  */
#banner {
  position: relative;
}
/* #banner .banner-child1 {
  width: 100%;
} */
#banner .banner-child2 {
  color: #fff;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  line-height: 1.6;
}

/* chỉnh sửa chiều cao cho banner cho không bị có khoảng trắng */
/* #banner {
  height: 555px;
} */
/* tạo thanh điều hướng nav bar  */
/* tạo grid  */
#nav-bar .columns-5 {
  /* display: grid;
  grid-template-columns: repeat(2, 16.66666%) 33.3334% repeat(2, 16.6666%); */
  /* grid-template-rows: 1fr; */
  justify-content: center;
  /* justify-self: center */
  line-height: 1.6;
  align-content: center;
}
/* điều chỉnh các giá trị để căn giữa các cell và content  */

#nav-bar .all-set-box {
  padding: 20px;
  text-align: center;
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-right: 1px solid rgba(0, 0, 0, 0.4);
}

.nav-icon {
  color: #00d;
}
/* .mt-40 {
  list-style-type: none;
} */
/* css cho các contact  */
.contact:link {
  color: #00d;
}
.contact:hover {
  font-size: 20px;
  color: #08f5f5;
  background-color: #d6c08d;
}
.contact:visted {
  color: #4b0082;
}
.contact:active {
  color: #ff0303;
}
/* css cho phần mục tiêu + phần chứng chỉ  */
.container.columns-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* xét margin cho phần mục tiêu  */
#target {
  /* flex: 1;
  border: 1px solid rgba(0, 0, 0, 0.4); */
  /* padding-right: 40px; */
  /* padding: 30px 40px 50px 30px; */
  background-color: rgba(209, 201, 201, 0.4);
  font-size: 13px;
}
.section-title {
  padding-bottom: 30px;
  padding-top: 30px;
}
#personal-info {
  /* padding-left: 30px; */
  font-size: 13px;
  /* padding: 30px 40px 50px 30px; */
  background-color: rgba(170, 168, 168, 0.4);
  /* flex: 1;
  background-color: rgba(0, 0, 0, 0.6); */
}
/* cho js*/
/* an thong tin ca nhan */

.display-none {
  display: none;
}
.error-email {
  color: rgba(199, 47, 47, 0.884);
  font-size: 14px;
}

/* job-infor */

/*js end */
.infor-footer {
  padding-top: 50px;
  /* color: #00d; */
}
.infor-footer > a {
  color: #00d;
}
/* phần job info  */
/* tạo grid cho 6 ô  */
#job-info .grid-6 {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  justify-content: start; */
  /* justify-self: center; */
  /* align-content: center; */
  /* border: 1px solid #d6c08d; */
  font-size: 12px;
  /* margin: 30px 90px; */
}
/* tạo grid chia 6 ô mỗi ô thành 3 ô nhỏ  */
/* #job-info .grid-6-1 {
  display: grid; 
   grid-template-rows: 80px 30px 1fr 30px;
   max-width: 100%;
  border: 1px solid #dfd5d5;
  box-sizing: border-box;
  justify-self: start;
} */
/* #job-info .name-icon {
  display: grid;
  grid-template-columns: 75% 25%;
  margin: 30px 30px 0px 30px;
} */
/*view icon*/
.view-btn {
  background-color: #f0d8a2e1;
  font-size: 10px;
  border-radius: 30%;
  border: none;
  height: 30px;
}
.posi-relative {
  position: relative;
}
.view-button {
  position: absolute;
  left: 10%;
  top: 6rem;
  display: none;
}

.name-icon:hover + .view-button {
  display: block;
}
/*end view icon*/
#job-info .job-info-name {
  font-size: 16px;
}
#job-info .ex-icon {
  font-size: 45px;
  /* padding-top: 0px;
  margin-top: -20px; */
  /* align-self: center; */
  height: 60px;
  color: #919496;
}
#job-info .job-info-detail {
  /* margin: 30px; */
  /* justify-self: start; */
  line-height: 1.6;
}
/* chỉnh thẻ input  */
.job-info-detail .time {
  border: none;
  display: inline-block;
  width: 55px;
  font-style: italic;
}
#job-info .blue-box {
  background-color: #0a93ed;
  border-radius: 3px;
  color: #fff;
}
/* chỉnh phần danh sách ul  */
#job-info .detail {
  position: relative;
  padding-left: 24px;
  line-height: 1.6;
}
#job-info .detail::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 5px;
  width: 10px;
  height: 10px;
  background-color: #0a93ed;
  border: 1px solid #0a93ed;
  border-radius: 50%;
  z-index: 1;
}

#job-info .detail-1 {
  margin-top: 40px;
}
/* caưn phần sở thích  */
#job-info .hobby {
  display: grid;
  grid-template-columns: repeat(4, 75px);
  justify-content: center;
}
#job-info .hobby-icon {
  font-size: 20px;
  text-align: center;
  align-self: center;
}
#job-info .hobby-position {
  position: relative;
  padding-top: 60px;
  margin: 5px;
}
#job-info .hobby-icon-parent {
  display: grid;
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  color: #496feb;
  border: 1px solid #496feb;
  border-radius: 50%;
  z-index: 1;
}
/* phần thang điểm  */
#job-info .score {
  display: inline-block;
  background-color: #919496;
  width: 45px;
  height: 2px;
}
#job-info .score-checked {
  display: inline-block;
  background-color: #199cdb;
  width: 45px;
  height: 2px;
}
#job-info .skill {
  line-height: 2;
}
/* chỉnh phần chứng chỉ -giaỉ thưởng  */
#certificate {
  background-color: rgb(247, 247, 247);
  /* display: grid;
  grid-template-rows: auto auto; */

  /* padding-left: 100px; */
  /* margin-top: 50px; */
  /* padding-bottom: 30px; */
}

/* #certificate .certificate-info {
  justify-self: center;
} */

/* #certificate img {
  width: 200px;
} */
#certificate .certificate-list {
  list-style-type: none;

  line-height: 1.6;
  padding-left: 0.5rem;
}
#certificate .certificate-child {
  /* display: grid;
  grid-template-columns: 1fr 2fr; */
  padding: 2rem;
  font-weight: 500;
  font-size: 12px;
}
#certificate .cer-line {
  border-bottom: 1px solid #d6c08d;
}
#certificate .cer-line-left {
  position: relative;
  padding-left: 5px;
}
/* tạo border left cho chứng hỉ số 2  */
#certificate .cer-line-left::after {
  position: absolute;
  left: 0;
  content: ' ';
  border-left: 1px solid #d6c08d;
  top: 45%;
  height: 75%;
  transform: translateY(-50%);
}
#certificate .cer-pad {
  padding-left: 1rem;
}
/* phần dự án  */
#project .section-title {
  padding-left: 90px;
}
/* #project .project-img {
  width: 100%;
} */
/* #project .project-grid-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 30px;
  margin: 3rem;
} */
/* #project .inline {
  display: inline-block;
} */
#project .time-box {
  width: 3rem;
  background-color: #0a93ed;
  /* border-radius: 10px; */
  border: none;
  height: 25px;
  text-align: center;
  color: #fff;
}
#project .project-name {
  font-weight: 500;
}
#project .project-time,
#project .project-name {
  padding: 15px 15px;
  /* border: 1px solid #e1dddd; */
}
#project .pro-color {
  color: #919496;
}
/* #project .project-details {
  padding: 15px;
  border: 1px solid #e1dddd;
  display: grid;
  height: 250px;
  min-width: 0;
} */
#project .project-det-1 {
  /* display: grid;
  grid-template-columns: 25% 70%;
  height: min-content;

  gap: 10px; */
  font-size: 12px;
  /* border-bottom: 1px solid #e1dddd; */
}
.bor-none {
  border: none;
}
/* #project .det-1-1 {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  color: #919496;
  padding: 15px 0;
} */
#project .project-det-1 .det-1-2 {
  /* padding-top: 15px;
  padding-bottom: 15px; */
  color: #919496;
  margin: 0;

  /* padding-right: 10px; */
}
/* #project .border-bottom-none {
  border: none;
} */

/* #project .bor-0 {
  border: none;
} */
/* phần footer  */
#footer {
  background-color: #a4a5a550;
  /* height: 90px; */
}
#footer .footer-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}
#footer .footer-nav-icon {
  font-size: 2rem;
}
#footer .footer-content {
  display: inline-block;
  margin-top: 5%;
  margin-bottom: 5%;

  text-decoration: none;
}
#footer .footer-content > a {
  color: #0a93ed;
}
/* ảnh cá nhân - yêu cầu nâng cao  */
#nav-bar .columns-5 {
  position: relative;
}
.self-img {
  width: 160px;
  position: absolute;
  top: -70%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: 1;
}
