@media only screen and (max-width: 992px) {
  html {
    margin: 0 5px 50px 5px;
  }
  section > .container {
    width: 1170px;
    max-width: 100%;

    /* padding: 30px 50px; */
  }
  .self-img {
    display: none;
  }
  #nav-bar .all-set-box {
    font-size: 10px;
  }
  #project .project-det-1 .det-1-1 {
    padding-right: 0;
  }
}
